@model Trafikkal.web.Models.Question

<style>
    /*TODO gjør ferdig styling på input text*/
    label > input {
        font-size: 1.1em;
    }
</style>
<br />
<h3>@Model.Text</h3>
@{
    if (Model.Img != null)
    {
        <div >
            <img style="height: 180px" class="img-responsive" src="@Model.Img" />
        </div>
    }
    if (Model.Video != null)
    {
        <div>
            <video src="@Model.Video"></video>
        </div>
    }
}

<hr/>

<input name="questionNumber" readonly="readonly" value="@Model.Number" hidden="" />
@if (Model.IsMultipleChoice)
{
    if (!string.IsNullOrEmpty(Model.Alternative1))
    {
        <div>
            <label>
                <input type="checkbox" id="Alternative1" name="alternative1" value="@Model.Alternative1"> @Model.Alternative1
            </label>
        </div>


    }
    if (!string.IsNullOrEmpty(Model.Alternative2))
    {
        <div>
            <label>
                <input type="checkbox" id="Alternative2" name="alternative2" value="@Model.Alternative2"> @Model.Alternative2
            </label>
        </div>

    }
    if (!string.IsNullOrEmpty(Model.Alternative3))
    {
        <div>
            <label>
                <input type="checkbox" id="Alternative3" name="alternative3" value="@Model.Alternative3"> @Model.Alternative3
            </label>
        </div>

    }
    if (!string.IsNullOrEmpty(Model.Alternative4))
    {
        <div>
            <label>
                <input type="checkbox" id="Alternative4" name="alternative4" value="@Model.Alternative4"> @Model.Alternative4
            </label>
        </div>
    }
    if (!string.IsNullOrEmpty(Model.Alternative5))
    {
        <div>
            <label>
                <input type="checkbox" id="Alternative5" name="alternative5" value="@Model.Alternative5"> @Model.Alternative5
            </label>
        </div>

    }
}
else
{
    if (!string.IsNullOrEmpty(Model.Alternative1))
    {
        <div  >
            <label  >
                <input type="radio" id="Alternative1" name="alternative" value="@Model.Alternative1"> @Model.Alternative1
            </label>
        </div>
    }
    if (!string.IsNullOrEmpty(Model.Alternative2))
    {
        <div >
            <label>
                <input type="radio" id="Alternative2" name="alternative" value="@Model.Alternative2"> @Model.Alternative2
            </label>
        </div>
    }
    if (!string.IsNullOrEmpty(Model.Alternative3))
    {
        <div >
            <label>
                <input type="radio" id="Alternative3" name="alternative" value="@Model.Alternative3"> @Model.Alternative3
            </label>
        </div>
    }
    if (!string.IsNullOrEmpty(Model.Alternative4))
    {
        <div >
            <label>
                <input type="radio" id="Alternative4" name="alternative" value="@Model.Alternative4"> @Model.Alternative4
            </label>
        </div>
    }
    if (!string.IsNullOrEmpty(Model.Alternative5))
    {
         <div >
             <label>
                 <input type="radio" id="Alternative5" name="alternative" value="@Model.Alternative4"> @Model.Alternative5
             </label>
         </div> 
     }
    
}


<br/>
<br/>
<div class="">
    <input type="submit" class="btn btn-default pull-left" value="Svar"/>
    <br/>
</div>

