@model Trafikkal.web.Models.TestViewModels.StepViewModel

<br />
<h1>Nr @Model.Answered av @Model.NumberOfQuestions</h1>
<h3>@Model.Question.Text</h3>
@{
    if (Model.Question.Img != null)
    {
        <div >
            <img style="height: 180px" class="img-responsive" src="@Model.Question.Img" />
        </div>
    }
    if (Model.Question.Video != null)
    {
        <div>
            <video src="@Model.Question.Video"></video>
        </div>
    }
}

<hr/>

<input name="questionNumber" readonly="readonly" value="@Model.Question.Number" hidden="" />
@if (Model.Question.IsMultipleChoice)
{
    if (!string.IsNullOrEmpty(Model.Question.Alternative1))
    {
        <div>
            <label>
                <input type="checkbox" id="Alternative1" name="alternative1" value="@Model.Question.Alternative1"> @Model.Question.Alternative1
            </label>
        </div>


    }
    if (!string.IsNullOrEmpty(Model.Question.Alternative2))
    {
        <div>
            <label>
                <input type="checkbox" id="Alternative2" name="alternative2" value="@Model.Question.Alternative2"> @Model.Question.Alternative2
            </label>
        </div>

    }
    if (!string.IsNullOrEmpty(Model.Question.Alternative3))
    {
        <div>
            <label>
                <input type="checkbox" id="Alternative3" name="alternative3" value="@Model.Question.Alternative3"> @Model.Question.Alternative3
            </label>
        </div>

    }
    if (!string.IsNullOrEmpty(Model.Question.Alternative4))
    {
        <div>
            <label>
                <input type="checkbox" id="Alternative4" name="alternative4" value="@Model.Question.Alternative4"> @Model.Question.Alternative4
            </label>
        </div>
    }
    if (!string.IsNullOrEmpty(Model.Question.Alternative5))
    {
        <div>
            <label>
                <input type="checkbox" id="Alternative5" name="alternative5" value="@Model.Question.Alternative5"> @Model.Question.Alternative5
            </label>
        </div>

    }
}
else
{
    if (!string.IsNullOrEmpty(Model.Question.Alternative1))
    {
        <div  >
            <label  >
                <input type="radio" id="Alternative1" name="alternative" value="@Model.Question.Alternative1"> @Model.Question.Alternative1
            </label>
        </div>
    }
    if (!string.IsNullOrEmpty(Model.Question.Alternative2))
    {
        <div >
            <label>
                <input type="radio" id="Alternative2" name="alternative" value="@Model.Question.Alternative2"> @Model.Question.Alternative2
            </label>
        </div>
    }
    if (!string.IsNullOrEmpty(Model.Question.Alternative3))
    {
        <div >
            <label>
                <input type="radio" id="Alternative3" name="alternative" value="@Model.Question.Alternative3"> @Model.Question.Alternative3
            </label>
        </div>
    }
    if (!string.IsNullOrEmpty(Model.Question.Alternative4))
    {
        <div >
            <label>
                <input type="radio" id="Alternative4" name="alternative" value="@Model.Question.Alternative4"> @Model.Question.Alternative4
            </label>
        </div>
    }
    if (!string.IsNullOrEmpty(Model.Question.Alternative5))
    {
         <div >
             <label>
                 <input type="radio" id="Alternative5" name="alternative" value="@Model.Question.Alternative4"> @Model.Question.Alternative5
             </label>
         </div> 
     }
    
}


<br/>
<br/>
<div class="">
    <input type="submit" class="btn btn-default pull-left" value="Svar"/>
    <br/>
</div>

