@model IEnumerable<Trafikkal.web.Models.Question>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Img)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Video)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Alternative1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Alternative2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Alternative3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Alternative4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Alternative5)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAlternative1Correct)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAlternative2Correct)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAlternative3Correct)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAlternative4Correct)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAlternative5Correct)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsMultipleChoice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Img)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Video)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alternative1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alternative2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alternative3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alternative4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alternative5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAlternative1Correct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAlternative2Correct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAlternative3Correct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAlternative4Correct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAlternative5Correct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsMultipleChoice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
